.row {
    width: 100%;
    min-height: 100vh;
}

.navbar_col {
    color: white;
    background-color: rgb(1, 168, 1);
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: green !important;
}